<template>
    <div style="padding-left: 20%; padding-right: 20%">
        <v-card
            outline="dark-50"
        >
        <div style="padding-left: 5%; padding-right: 5% ; padding-top: 2%; padding-bottom: 1%;" >
            <v-row style="padding-bottom: 1%;">
                <v-col
                    cols="12"
                    sm="9">
                    <h1 style="color:crimson; text-align: left"> CONSULTANT SEARCH </h1> 
                </v-col>
                <v-col
                    cols="12"
                    sm="3">
                    <v-btn 
                        style="color:crimson" 
                        rounded="xl" 
                        size="large"> 
                        AVANCED SEARCH 
                    </v-btn>
                </v-col>
            </v-row>
            <v-progress-linear color="grey" model-value="100%"/>
            <div>                
                <formulary 
                  v-on:loadValues="loadValues"
                  v-on:onReset="onReset"/>
                            
            </div>
        </div>           
        </v-card>
        
    </div>
    <div style="padding-top:5%; padding-left: 10%; padding-right: 10%">
        <data-table 
            :items="items"
            :headers="headers"
            :loading="loading">
        </data-table>
    </div>
    
    
</template>

<script>
// @ is an alias to /src
import DataTable from '@/components/DataTable.vue';
import Formulary from '@/components/Formulary.vue'

export default {
  name: 'FormularyPage',
  components: { Formulary, DataTable },

  async created() {
    this.loading = true
    const dataTable = await this.getDataAPI()
    //Check result API-Get
    console.log('dataTable', dataTable.users)
    if(dataTable.users){
        this.items = dataTable.users
    }
    this.loading = false
    console.log('cargo total ', dataTable.length)
  },

  data() {
    return {
        headers: [
          { title: 'First Name', align: 'center', key: 'firstName' },
          { title: 'Last Name', align: 'center', key: 'lastName' },
          { title: 'Age', align: 'center', key: 'age' },
          { title: 'Gender', align: 'center', key: 'gender' },
          { title: 'Hair Color', align: 'center', key: 'hair.color' },
          { title: 'City', align: 'center', key: 'address.city' },
        ],
        items: [],
        loading: false
    }
  },

  methods: {
    
    async getDataAPI() {
     // const result = await fetch('https://jsonplaceholder.typicode.com/users')
      const result = await fetch('https://dummyjson.com/users')
                      .then(response => response.json())
      return result
    },

    async loadValues(values){
      console.log('valuessss', values)
      let arrays =[]
      if(values.v_color != ''){
        const result = await fetch('https://dummyjson.com/users/filter?key=hair.color&value='+ values.v_color)
                              .then(res => res.json())
         if(result.users.length > 0 ) arrays.push(result.users)
      }
      if(values.v_name != ''){
        const ruta = 'https://dummyjson.com/users/filter?key=firstName&value='+ values.v_name
        const result = await fetch(ruta)
                              .then(res => res.json())
        if(result.users.length > 0 ) arrays.push(result.users)
      }

      if(values.v_lastName != ''){
        const ruta = 'https://dummyjson.com/users/filter?key=lastName&value='+ values.v_lastName
        const result = await fetch(ruta)
                              .then(res => res.json())
        if(result.users.length > 0 ) arrays.push(result.users)
      }

      if(values.v_age != ''){
        const ruta = 'https://dummyjson.com/users/filter?key=age&value='+ values.v_age
        const result = await fetch(ruta)
                              .then(res => res.json())
        if(result.users.length > 0 ) arrays.push(result.users)
      }

      if(values.v_gender != ''){
        const ruta = 'https://dummyjson.com/users/filter?key=gender&value='+ values.v_gender
        const result = await fetch(ruta)
                              .then(res => res.json())
        if(result.users.length > 0 ) arrays.push(result.users)
      }

      if(values.v_city != ''){
        const ruta = 'https://dummyjson.com/users/filter?key=address.city&value='+ values.v_city
        const result = await fetch(ruta)
                              .then(res => res.json())
        if(result.users.length > 0 ) arrays.push(result.users)
      }
      const referencia = arrays[0];
  
      // Filtrar elementos coincidentes en los demás arrays
      const coincidentes = referencia.filter((elemento) => {
        // Verificar si todos los arrays contienen el elemento
        return arrays.every((array) =>
          array.some(
            (item) =>
              item.id === elemento.id &&
              item.age === elemento.age
          )
        );
      });
      
      this.items = coincidentes; 

    },

    async onReset(){
      this.loading = true
      const dataTable = await this.getDataAPI()
      //Check result API-Get
      if(dataTable.users){
          this.items = dataTable.users
      }
      this.loading = false
    }
  }  
}
</script>