<template>
   <v-data-table 
        :items="items"
        :title="title"
        :headers="headers"
        :loading="loading">
    </v-data-table> 
</template>

<script>
    export  default {
        props: {
            items: [],
            headers:[]
        },
        data() {
            return {
                loading: false
                
            }
        },
    }
</script>
