<template>
    <v-form>
      <v-container>
        <v-row>
          <v-col
            cols="12"
            sm="4"
          >
            <v-text-field
              v-model="v_name"
              label="First Name"
              variant="outlined"
            ></v-text-field>
          </v-col>
  
          <v-col
            cols="12"
            sm="4"
          >
            <v-text-field
              v-model="v_lastName"
              label="Last Name"
              variant="outlined"
            ></v-text-field>
          </v-col>
  
          <v-col
            cols="12"
            sm="4"
          >
            <v-text-field
              v-model="v_age"
              label="Age"
              variant="outlined"
              type="numeric"
            ></v-text-field>
          </v-col>
  
          <v-col
            cols="12"
            sm="4"
          >
            <v-text-field
              v-model="v_gender"
              label="Gender"
              variant="outlined"
            ></v-text-field>
          </v-col>
  
          <v-col
            cols="12"
            sm="4"
          >
            <v-text-field
              label="Hair Color"
              variant="outlined"
              v-model="v_color"
            ></v-text-field>
          </v-col>
  
          <v-col
            cols="12"
            sm="4"
          >
            <v-text-field
              label="City"
              variant="outlined"
              v-model="v_city"
            ></v-text-field>
          </v-col>
        </v-row>
        <div style="left: auto;">
          <v-row>
            <v-col cols="12" sm="9">
               <v-btn 
                  style="color: white; background-color: brown;" 
                  rounded="xl" 
                  size="large" 
                  @click="onSubmit"
                  > 
                  Submit 
              </v-btn>
            </v-col>
            <v-col cols="4" sm="3">
              <v-btn 
                style="color: brown" 
                rounded="xl" 
                size="large" 
                @click="onReset"
                > 
                Reset Search 
            </v-btn>
            </v-col>
          </v-row>    
            
        </div>   
      </v-container>
    </v-form>
  </template>

<script>
export default {
  name: 'FormularyComponent',
  data() {
    return {
      v_name: '',
      v_lastName: '',
      v_age: '',
      v_gender: '',
      v_color: '',
      v_city: ''
    }
  },
  methods: {
    onSubmit(){
      const values ={
        v_name: this.v_name,
        v_lastName: this.v_lastName,
        v_age: this.v_age,
        v_gender: this.v_gender,
        v_color: this.v_color,
        v_city: this.v_city
      }
      console.log('values = ', values)
      this.$emit('loadValues', values)
    },

    onReset(){
      console.log('aquiii')
      this.v_name = '',
      this.v_lastName = '',
      this.v_age = '',
      this.v_gender = '',
      this.v_color = '',
      this.v_city = ''
      
      this.$emit('onReset')
    }
  }

}
</script>